
body {
  margin: 0;
  color: #40514E;
  text-align: center;
font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 0;
  color: #66BFBF;
  padding-top: 60px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  font-size: 40px;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
/*
div {
  background-color: #E4F9FB;
}
*/
.top-container {
  background-color: #E4F9FB;
  position: relative;
  padding-top: 70px;
}
.mountain {
  position: relative;
  padding-left: 170px;
}
.top-cloud {
  position: absolute;
  right :330px;
  top: 130px;
}
.bottom-cloud {
  position: relative;
  right: 800px;
  bottom: 300px;
}
.computer-languages {
  max-width: 300px;
  max-height: 300px;
  width: 25%;
  float: right;
  margin-left: 30px;

}
.web-development {
max-width: 300px;
max-height: 300px;
width: 25%;
float: left;
margin-right: 30px;
}

.anime {
  max-width: 300px;
  max-height: 300px;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.student {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #66BFBF;
  font-weight: normal;
  margin-top: 0;
}
span {
  text-decoration: underline;
}
.footer-link {
  color: #11999E;
}
.btn {
  color: #11999E;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}
.middle-container {
  margin: 100px 0;
}
.intro {
  width: 30%;
  margin: auto;
}
p {
  line-height: 2;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a {
  color: #05898E;
  font-family: 'Lobster', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 30px 0;
}
